extends /pages/layout

block variables
  - const pageTitle = 'Профиль/Избранное/Книги/Свои (нет контента)'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Подборки',
      'Цитаты',
      'Истории',
      'Лайфхаки',
      'Неформат',
      'Черновики'
    ], 0)
    +profile-cta(
      'book',
      'Нет книг в избранном',
      'Добавьте книги в избранное, чтобы потом к ним вернуться.',
      'Что почитать'
    )