mixin pagination
  a.btn__show-more(href="##") Показать ещё
  .pagination
    a.pagination__page.pagination__page--unactive(href="##") «
    a.pagination__page.pagination__page--unactive(href="##") ‹
    a.pagination__page.pagination__page--active(href="##") 1
    a.pagination__page(href="##") 2
    a.pagination__page(href="##") ›
    a.pagination__page(href="##") »
