mixin profile-tags
  section.pf-tags
    h2.pf-tags__title Теги
      span.pf-tags__counter 200
    ul.pf-tags__list
      li.pf-tags__item
        a(href="##") Ужасы
      li.pf-tags__item
        a(href="##") Триллер
      li.pf-tags__item
        a(href="##") Детектив
      li.pf-tags__item
        a(href="##") Фантастика
      li.pf-tags__item
        a(href="##") Космос
      li.pf-tags__item
        a(href="##") Панда
      li.pf-tags__item
        a(href="##") Тигр
      li.pf-tags__item
        a(href="##") Крокодил
      li.pf-tags__item
        a(href="##") Медведь
      li.pf-tags__item
        a(href="##") Енот
      li.pf-tags__item
        a(href="##") Антилопа
      li.pf-tags__item
        a(href="##") Ласточка
      li.pf-tags__item
        a(href="##") Ястреб
      li.pf-tags__item
        a(href="##") Кролик
      li.pf-tags__item
        a(href="##") Баран
      li.pf-tags__item
        a(href="##") Лиса
      li.pf-tags__item
        a(href="##") Корги
      li.pf-tags__item
        a(href="##") Что
      li.pf-tags__item
        a(href="##") Вообще
      li.pf-tags__item
        a(href="##") Происходит      
      li.pf-tags__item
        a(href="##") Ужасы
      li.pf-tags__item
        a(href="##") Триллер
      li.pf-tags__item
        a(href="##") Детектив
      li.pf-tags__item
        a(href="##") Фантастика
      li.pf-tags__item
        a(href="##") Космос
      li.pf-tags__item
        a(href="##") Панда
      li.pf-tags__item
        a(href="##") Тигр
      li.pf-tags__item
        a(href="##") Крокодил
      li.pf-tags__item
        a(href="##") Медведь
      li.pf-tags__item
        a(href="##") Енот
      li.pf-tags__item
        a(href="##") Антилопа
      li.pf-tags__item
        a(href="##") Ласточка
      li.pf-tags__item
        a(href="##") Ястреб
      li.pf-tags__item
        a(href="##") Кролик
      li.pf-tags__item
        a(href="##") Баран
      li.pf-tags__item
        a(href="##") Лиса
      li.pf-tags__item
        a(href="##") Корги
      li.pf-tags__item
        a(href="##") Что
      li.pf-tags__item
        a(href="##") Вообще
      li.pf-tags__item
        a(href="##") Происходит      
      li.pf-tags__item
        a(href="##") Ужасы
      li.pf-tags__item
        a(href="##") Триллер
      li.pf-tags__item
        a(href="##") Детектив
      li.pf-tags__item
        a(href="##") Фантастика
      li.pf-tags__item
        a(href="##") Космос
      li.pf-tags__item
        a(href="##") Панда
      li.pf-tags__item
        a(href="##") Тигр
      li.pf-tags__item
        a(href="##") Крокодил
      li.pf-tags__item
        a(href="##") Медведь
      li.pf-tags__item
        a(href="##") Енот
      li.pf-tags__item
        a(href="##") Антилопа
      li.pf-tags__item
        a(href="##") Ласточка
      li.pf-tags__item
        a(href="##") Ястреб
      li.pf-tags__item
        a(href="##") Кролик
      li.pf-tags__item
        a(href="##") Баран
      li.pf-tags__item
        a(href="##") Лиса
      li.pf-tags__item
        a(href="##") Корги
      li.pf-tags__item
        a(href="##") Что
      li.pf-tags__item
        a(href="##") Вообще
      li.pf-tags__item
        a(href="##") Происходит      
      li.pf-tags__item
        a(href="##") Ужасы
      li.pf-tags__item
        a(href="##") Триллер
      li.pf-tags__item
        a(href="##") Детектив
      li.pf-tags__item
        a(href="##") Фантастика
      li.pf-tags__item
        a(href="##") Космос
      li.pf-tags__item
        a(href="##") Панда
      li.pf-tags__item
        a(href="##") Тигр
      li.pf-tags__item
        a(href="##") Крокодил
      li.pf-tags__item
        a(href="##") Медведь
      li.pf-tags__item
        a(href="##") Енот
      li.pf-tags__item
        a(href="##") Антилопа
      li.pf-tags__item
        a(href="##") Ласточка
      li.pf-tags__item
        a(href="##") Ястреб
      li.pf-tags__item
        a(href="##") Кролик
      li.pf-tags__item
        a(href="##") Баран
      li.pf-tags__item
        a(href="##") Лиса
      li.pf-tags__item
        a(href="##") Корги
      li.pf-tags__item
        a(href="##") Что
      li.pf-tags__item
        a(href="##") Вообще
      li.pf-tags__item
        a(href="##") Происходит      
      li.pf-tags__item
        a(href="##") Ужасы
      li.pf-tags__item
        a(href="##") Триллер
      li.pf-tags__item
        a(href="##") Детектив
      li.pf-tags__item
        a(href="##") Фантастика
      li.pf-tags__item
        a(href="##") Космос
      li.pf-tags__item
        a(href="##") Панда
      li.pf-tags__item
        a(href="##") Тигр
      li.pf-tags__item
        a(href="##") Крокодил
      li.pf-tags__item
        a(href="##") Медведь
      li.pf-tags__item
        a(href="##") Енот
      li.pf-tags__item
        a(href="##") Антилопа
      li.pf-tags__item
        a(href="##") Ласточка
      li.pf-tags__item
        a(href="##") Ястреб
      li.pf-tags__item
        a(href="##") Кролик
      li.pf-tags__item
        a(href="##") Баран
      li.pf-tags__item
        a(href="##") Лиса
      li.pf-tags__item
        a(href="##") Корги
      li.pf-tags__item
        a(href="##") Что
      li.pf-tags__item
        a(href="##") Вообще
      li.pf-tags__item
        a(href="##") Происходит
    a.pf-tags__more(href="##" id="profile-tags-more") Показать ещё