@use '../../scss/colors' as *;

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-card-user__avatar {
  border-radius: 50%;
  margin: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  object-fit: cover;
  -o-object-fit: cover;
}

.header-card-user__name, .header-card-user__name:visited {
  font: 600 14px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0 3px 0 0;
}

.header-card-user__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-card-user__name {
  min-width: 50px;
}

.header-card__category, .header-card__category:visited {
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898C;
  margin: 0 auto 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-transform: lowercase; */
}

.header-card__overlap, .header-card__overlap:visited {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 22px;
  height: 24px;
  padding-right: 30px;
  font: 12px/17px "Source Sans Pro", sans-serif;
  color: #88898C;
}

.header-card__overlap::before, .header-card__overlap::after {
  position: absolute;
  content: '';
  top: 5px;
  width: 13px;
  height: 13px;
  border: 1px solid #88898C;
  border-radius: 50%;
  right: 0px;
}

.header-card__overlap::before {
  right: 9px;
}

.header-card__menu, .header-card__menu:visited {
  width: 24px;
  height: 24px;
  margin: 0 0 0 8px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.soc-active-block__detailing, .header-card__menu-block, #system-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  height: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  background: #fff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  transition: height 1s ease;
  color: #252626;
  align-items: center;
}

.soc-active-block__detailing, .header-card__menu-block, #system-notice {
  z-index: 1002;
}

.header-card__menu-block a, .header-card__menu-block a:visited {
  font: 16px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  height: 36px;
  padding-bottom: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #DCDEE0;
}

.header-card__menu-block a:last-child {
  margin-bottom: 38px;
}

.header-card__menu-block:not(span) > a:first-child {
  margin-top: 11px;
}

.header-card__menu::after {
  position: absolute;
  content: '';
  top: 11px;
  left: 10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #88898C;
  -webkit-box-shadow: 0 -6px 0 0 #88898C, 0 6px 0 0 #88898C;
  box-shadow: 0 -6px 0 0 #88898C, 0 6px 0 0 #88898C;
}

.lenta-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.bookswap-card .lenta-card {
  padding: 12px 12px 19px;
  background: #EDF0F7;
  border-radius: 12px;
}

.lenta-card__wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 20px 12px 18px;
}

.lenta-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 6px;
  width: 100%;
}

.lenta-card__date, .lenta-card__aliases, .lenta-card__aliases:visited {
  position: relative;
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898C;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lenta-card__date, .lenta-card__aliases, .lenta-card__aliases:visited {
  position: relative;
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898C;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lenta-card__aliases {
  padding: 0 20px 0 0;
}

.lenta-card__aliases::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: url("/images/SVGsprite.svg") -182px -78px no-repeat;
  width: 16px;
  height: 16px;
}

.lenta-card__title, .lenta-card__title:visited {
  font: 600 18px/24px "Source Sans Pro", sans-serif;
  margin: 0 0 8px;
  color: #252626;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 96px;
}

.lenta-card__title a {
  color: inherit;
}

.bookswap-card .lenta-card__text {
  max-height: 96px;
}

.lenta-card__text.without-readmore, .lists__text .without-readmore {
  max-height: initial;
}

.lenta-card__text p {
  font: 16px/24px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0;
}

.lenta-card__text a, .lenta-card__text:visited {
  color: #217DD1;
}

.lenta-card__text .read-more__link {
  font: 16px/24px "Source Sans Pro", sans-serif;
  color: #88898C;
  width: auto;
}

.bookswap-card .lenta-card-tags {
  margin: 12px -12px 10px;
  overflow: hidden;
}

.lenta-card-tags__limiter {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin: 0 0 -20px;
}

.lenta-card-tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 12px;
}

.lenta-card-tags__item {
  margin-right: 8px;
}

.lenta-card-tags__item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-radius: 16px;
  font: 14px/16px "Source Sans Pro", sans-serif;
  padding: 4px 9px 6px;
}

.lenta-card__buy {
  background: rgba(100, 204, 187, 0.14);
  color: #48B0A2;
  border-color: #48B0A2;
}

.lenta-card__change {
  background: rgba(247, 187, 78, 0.14);
  color: #F5794D;
  border-color: #F5794D;
}

.lenta-card__post {
  background: rgba(62, 153, 237, 0.07);
  color: #3B91E0;
  border-color: #3B91E0;
}

.lenta-card__read {
  background: rgba(113, 87, 183, 0.14);
  color: #7157B7;
  border-color: #7157B7;
}

.lenta-card__reserved {
  background: rgba(242, 143, 187, 0.14);
  color: #FA385D;
  font: 14px/16px "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #F28FBB;
  text-align: center;
  margin-top: 22px;
  padding: 5px 12px;
}

.lenta-card__write {
  display: block;
  background: #3E99ED;
  color: #fff;
  font: 600 14px/16px "Source Sans Pro", sans-serif;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 16px 0 6px;
  text-align: center;
}

.lenta-card-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 21px 0 0;
}

.lenta-card-book__link {
  position: relative;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3px 12px 5px 8px;
}

.lenta-card-book__img {
  width: 100%;
  height: auto;
  max-width: 42px;
  max-height: 64px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 3px;
}

.lenta-card-book__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 6;
  width: calc(100% - 62px);
}

.lenta-card__book-title, .lenta-card__book-title:visited {
  display: block;
  font: 600 14px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lenta-card__author-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  color: #252626;
}

.bookswap-card .lenta-card__author-wrap {
  margin: 0 0 10px;
}

.lenta-card__author, .lenta-card__author:visited {
  color: #252626;
  font: 14px/16px "Source Sans Pro", sans-serif;
}

.lenta-card__rating {
  position: relative;
  font: 300 20px/24px "Source Sans Pro", sans-serif;
  color: #252626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 20px;
}

.lenta-card__rating::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background: url("/images/SVGsprite.svg") -252px -182px no-repeat;
  width: 16px;
  height: 16px;
}

.userbook-container {
  position: initial !important;
  display: contents !important;
}

.bookswap-card .lenta-card-book .btn-add-plus {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
}

.bookswap-card .lenta-card-book .btn-add-plus i {
  display: none;
}

.btn-add-plus::after {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: calc(50% - 48px);
  background: url("/images/SVGsprite.svg") -114px -156px no-repeat;
}

.bookswap-card .btn-add-plus::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("/images/SVGsprite.svg") 0 -26px no-repeat;
}


.footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 8px 6px;
  border: none;
  border-radius: 0;
}

.footer-card__soc-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 78%;
}

.sab__link {
  position: relative;
  padding: 0 0 0 28px;
  width: 36px;
}

.footer-card a {
  font: 14px/24px "Source Sans Pro", sans-serif;
  color: #88898C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: min-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sab__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.icon-like::before {
  background: url("/images/SVGsprite.svg") 0 0 no-repeat;
}

.icon-comment::before {
  background: url("/images/SVGsprite.svg") -52px 0 no-repeat;
}

.icon-bookmark::before {
  background: url("/images/SVGsprite.svg") -26px 0 no-repeat;
}

.count-in-fav {
  vertical-align: -1px;
}

.sab__link.icon-share {
  width: 19px;
}

.icon-share::before {
  background: url("/images/SVGsprite.svg") -78px 0 no-repeat;
}

.soc-active-block__detailing, .header-card__menu-block, #system-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  height: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  background: #fff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  transition: height 1s ease;
  color: #252626;
}

.soc-active-block__detailing, .header-card__menu-block, #system-notice {
  z-index: 1002;
}

