mixin profile-menu
  .section-menu
    .section-menu__limiter
      ul.section-menu__list
        li.section-menu__item.section-menu__item--active
          a(href="##") Профиль
        li.section-menu__item
          a(href="##") Дневник чтения
        li.section-menu__item
          a(href="##") Рецензии
            span х
        li.section-menu__item
          a(href="##") Созданное
        li.section-menu__item
          a(href="##") Активности
        li.section-menu__item
          a(href="##") Избранное
        li.section-menu__item
          a(href="##") Друзья 999
  