extends /pages/layout

block variables
  - const pageTitle = 'Профиль/Созданное/Истории/Свои (нет контента)'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Подборки',
      'Цитаты',
      'Истории',
      'Лайфхаки',
      'Неформат',
      'Черновики'
    ], 2)
    +profile-cta(
      'book',
      'Расскажите свою первую историю',
      'Что такое история? Зачем ее создавать? Что это даст читателю?',
      'Перейти к книгам'
    )