extends /pages/layout

block variables
  - const pageTitle = 'Активности/Книгообмен/Свои/Есть_контент'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Книгообмен',
      'Группы',
      'Играю',
      'Статистика',
      'Мероприятия',
      'Заявки по контенту',
      'Обсуждения'
    ], 1)
    +profile-cta(
      'book',
      'Вступайте в группы',
      'В этом разделе будут отображаться группы, в которые вы вступили, а также заявки на вступление.',
      'Перейти к группам'
    )