extends /pages/layout

block variables
  - const pageTitle = 'Избранное/Книги/Свои/Есть_контент'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Книги',
      'Авторы',
      'Рецензии',
      'Подборки',
      'Цитаты',
      'Истории',
      'Лайфхаки',
      'Персонажи',
      'Обсуждения',
      'Мероприятия',
      'Комментарии',
      'Объявления в книгообмене',
      'Заявки в игре'
    ], 0)
    section.favorite-books-list
      +profile-view-toggle
      +books-list(10)
    +pagination