@forward 'src/scss/main';
@use 'src/components/profile-menu/style' as *;
@use 'src/components/tabs/style' as *;
@use 'src/components/profile-view-toggle/style' as *;
@use 'src/components/authors-list/style' as *;
@use 'src/components/pagination/style' as *;

.page-content .header {
  margin-bottom: 16px;
  padding: 0;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 999;
}

.tabs {
  margin-top: 10px;
}

.profile__wrap.profile-person {
  margin: 22px 16px 0;
}
