mixin profile-awards
  section.pf-awards
    h2.pf-awards__title Награды и значки
      span.pf-awards__counter 32
    .pf-awards__block
      h3.pf-awards__subtitle Награды
      .pf-awards__list
        .pf-awards__item
          a.pf-awards__link
            img.pf-awards__image(src="/images/awards-1.png" alt="Награда")
          .pf-awards__date 18 мая 2020 г.
          .pf-awards__name Лучший редактор 2018
    .pf-awards__block
      h3.pf-awards__subtitle Значки
      .pf-awards__list
        .pf-awards__item
          a.pf-awards__link
            img.pf-awards__image(src="/images/awards-1.png" alt="Награда" width="34" height="34")
          .pf-awards__name Лучший редактор 2018
        .pf-awards__item
          a.pf-awards__link
            img.pf-awards__image(src="/images/awards-1.png" alt="Награда" width="34" height="34")
          .pf-awards__name Лучший редактор 2018
        .pf-awards__item
          a.pf-awards__link
            img.pf-awards__image(src="/images/awards-1.png" alt="Награда" width="34" height="34")
          .pf-awards__name Лучший редактор 2018
        .pf-awards__item
          a.pf-awards__link
            img.pf-awards__image(src="/images/awards-1.png" alt="Награда" width="34" height="34")
          .pf-awards__name Лучший редактор 2018
    a.pf-awards__more Показать все
    