extends /pages/layout

block variables
  - const pageTitle = 'Активности/Мероприятия/Чужой/Нет_контента'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Книгообмен',
      'Группы',
      'Играю',
      'Статистика',
      'Мероприятия',
      'Заявки по контенту',
      'Обсуждения'
    ], 1)
    section.events-list
      +events-card
      +events-card
    +pagination