mixin profile-group
  .profile-group
    ul.profile-group__list
      li.profile-group__item
        a.profile-group__img(href="")
          img(src="/images/profile-groups.jpg" width="100%" height="100")
        .profile-group__wrap
          a.profile-group__title(href="") Книжные новинки
          div
            a.profile-group__link.icon-user(href="") 8912
            a.profile-group__link(href="") 1 друг
              img(src="/images/avatar-136.png" width="100%" height="100%")
          p.profile-group__date Активность вчера 22:07
          span
            details.profile-group__join.profile-group__join__fill-empty
              summary В группе
              div
                a(href="") Выйти из группы
      li.profile-group__item
        a.profile-group__img(href="")
          img(src="/images/profile-groups.jpg" width="100%" height="100")
        .profile-group__wrap
          a.profile-group__title(href="") Книжные новинки
          div
            a.profile-group__link.icon-user(href="") 8912
            a.profile-group__link(href="") 1 друг
              img(src="/images/avatar-136.png" width="100%" height="100%")
            a.profile-group__link(href="") 2 куратора
              img(src="/images/avatar-136.png" width="100%" height="100%")
          p.profile-group__date Активность вчера 22:07
          a.profile-group__text(href="") Новостная лента Лайвлиб. Все самое новое и интересное.
          span
            details.profile-group__join
              summary Вступить
              div
                a(href="") Вступить в группу
                a(href="") Подписаться на группу
                a(href="") Отклонить