mixin lifehack-card
  article.lifehack-card
    .header-card
      a.header-card-user(href="##")
        img.header-card-user__avatar(src="/images/avatar-136.png" width="100%" height="auto")
      a.header-card-user__name(href="##")
        span JewelJul
      a.header-card__category(href="##") в лайфхаках
      .header-card__menu
        .header-card__menu-block
          a(href="##") Пожаловаться
    .lenta-card
      .lenta-card__wrapper
        .lenta-card__details
          p.lenta-card__date 30 июня 2019 г.
          p.lenta-card__aliases
            span 18К
        h3.lenta-card__title
          a(href="##") Как полюбить чтение школьнику XXI века
        a(href="##")
          object
            .lenta-card__text.without-readmore
              div
                p. 
                  Алина Сладкова утверждает, что, прочитав "Как роман", школьник может перейти от "надо читать" к 
                  "люблю читать". Книга шикарна...
              a.read-more__link(href="##") Развернуть
        .lenta-card-tags
          span.lenta-card-tags__title Теги:
          a.lenta-card-tags__item(href="##") Детская литература
          span.lenta-card-tags__other Ещё
      .lenta-card-book
        a.lenta-card-book__link(href="##")
          img.lenta-card-book__img(src="/images/book-cover-1.jpg" width="100%" height="auto")
        .lenta-card-book__wrapper
          a.lenta-card__book-title(href="##") Как роман
          p.lenta-card__author-wrap
            a.lenta-card__author(href="##") Даниэль Пеннак
          .lenta-card__rating 4,3
          .userbook-container.btn-add-plus__wrapper
            a.btn-add-plus
              i
    .footer-card
      .footer-card__soc-active
        a.sab__link.icon-like.no-bold(href="##")
          span 179
        a.sab__link.icon-comment(href="##") 231
        span
          a.sab__link.icon-bookmark(href="##")
            span.count-in-fav 38
      .soc-active-block__wrapper
        a.sab__link.icon-share 38