extends /pages/layout

block variables
  - const pageTitle = 'Активности/Книгообмен/Свои/Есть_контент'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Книгообмен',
      'Группы',
      'Играю',
      'Статистика',
      'Мероприятия',
      'Заявки по контенту',
      'Обсуждения'
    ], 3)
    +profile-cta(
      'book',
      'Участвуйте в мероприятиях',
      'Также вы можете создать свое мероприятие. Для этого, в Афише, нажмите на значок фильтра, далее  Создать мероприятие.',
      'Перейти к Афише'
    )