mixin authors-list
  .profile__wrap.profile-person
    .profile-group
      ul.profile-group__list
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
        li.profile-group__item
          a.profile-group__img(href="##")
            img(src="/images/avatar-136.png" width="100%" height="100%")
          .profile-group__wrap
            a.profile-group__name(href="##") Имя Фамилия или ник
            .profile-group-tag
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
              a(href="##") жанр
            div
              span.profile-group__link.icon-book x
              span.profile-group__link.icon-user x
              span
                a.sab__link.icon-bookmark.sab__link--active.profile-group__link
                  span.count-in-fav x
                  