mixin profile-favorite-genres(state)
  if state === 'new-user'
    section.pf-favorite-genres
      h2.pf-favorite-genres__title Любимые жанры
      p.pf-favorite-genres__description
        | Добавьте книги в списки выше, чтобы мы определили ваши любимые жанры.

  else
    section.pf-favorite-genres
      h2.pf-favorite-genres__title Любимые жанры
        span.pf-favorite-genres__counter 230
      p.pf-favorite-genres__description
        | Жанры формируются автоматически на основе прочитанных книг
      .pf-favorite-genres__limiter
        ul.pf-favorite-genres__list
          li.pf-favorite-genres__item
            a(href="##") Детективы
          li.pf-favorite-genres__item
            a(href="##") Любовные романы
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Триллер
          li.pf-favorite-genres__item
            a(href="##") Зарубежные детективы
          li.pf-favorite-genres__item
            a(href="##") Современная зарубежная литература
          li.pf-favorite-genres__item
            a(href="##") Классическая проза
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Менеджмент
          li.pf-favorite-genres__item
            a(href="##") Банковское дело
          li.pf-favorite-genres__item
            a(href="##") Продажи
          li.pf-favorite-genres__item
            a(href="##") Героическая фантастика        
          li.pf-favorite-genres__item
            a(href="##") Детективы
          li.pf-favorite-genres__item
            a(href="##") Любовные романы
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Триллер
          li.pf-favorite-genres__item
            a(href="##") Зарубежные детективы
          li.pf-favorite-genres__item
            a(href="##") Современная зарубежная литература
          li.pf-favorite-genres__item
            a(href="##") Классическая проза
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Менеджмент
          li.pf-favorite-genres__item
            a(href="##") Банковское дело
          li.pf-favorite-genres__item
            a(href="##") Продажи
          li.pf-favorite-genres__item
            a(href="##") Героическая фантастика        
          li.pf-favorite-genres__item
            a(href="##") Детективы
          li.pf-favorite-genres__item
            a(href="##") Любовные романы
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Триллер
          li.pf-favorite-genres__item
            a(href="##") Зарубежные детективы
          li.pf-favorite-genres__item
            a(href="##") Современная зарубежная литература
          li.pf-favorite-genres__item
            a(href="##") Классическая проза
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Менеджмент
          li.pf-favorite-genres__item
            a(href="##") Банковское дело
          li.pf-favorite-genres__item
            a(href="##") Продажи
          li.pf-favorite-genres__item
            a(href="##") Героическая фантастика        
          li.pf-favorite-genres__item
            a(href="##") Детективы
          li.pf-favorite-genres__item
            a(href="##") Любовные романы
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Триллер
          li.pf-favorite-genres__item
            a(href="##") Зарубежные детективы
          li.pf-favorite-genres__item
            a(href="##") Современная зарубежная литература
          li.pf-favorite-genres__item
            a(href="##") Классическая проза
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Менеджмент
          li.pf-favorite-genres__item
            a(href="##") Банковское дело
          li.pf-favorite-genres__item
            a(href="##") Продажи
          li.pf-favorite-genres__item
            a(href="##") Героическая фантастика
          li.pf-favorite-genres__item
            a(href="##") Детективы
          li.pf-favorite-genres__item
            a(href="##") Любовные романы
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Триллер
          li.pf-favorite-genres__item
            a(href="##") Зарубежные детективы
          li.pf-favorite-genres__item
            a(href="##") Современная зарубежная литература
          li.pf-favorite-genres__item
            a(href="##") Классическая проза
          li.pf-favorite-genres__item
            a(href="##") Научная фантастика
          li.pf-favorite-genres__item
            a(href="##") Менеджмент
          li.pf-favorite-genres__item
            a(href="##") Банковское дело
          li.pf-favorite-genres__item
            a(href="##") Продажи
          li.pf-favorite-genres__item
            a(href="##") Героическая фантастика
      a.pf-favorite-genres__more(href="##" id="profile-favorite-genres-more") Показать ещё