@use 'src/scss/colors' as *;

.pf-banner {
  background-color: $yellow_10;
  border: 1px solid $yellow_30;
  border-radius: 8px;
  padding: 72px 16px 16px;
  position: relative;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    padding: 21px 50px 21px 91px;
    margin-bottom: 32px;
  }
  
  &::before {
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    top: 14px;
    left: 15px;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }
  }
}

.pf-banner__books::before {
  background-image: url('/images/profile-books.png');
}

.pf-banner__authors::before {
  background-image: url('/images/profile-authors.png');
  
}

.pf-banner__text {
  color: $dark_main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.pf-banner__close {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%236F7073' fill-rule='evenodd' d='m12 12.94 6.247 6.248.94-.94L12.94 12l6.248-6.247-.941-.94L12 11.06 5.752 4.812l-.94.941L11.059 12l-6.247 6.247.94.941L12 12.941Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 16px;
  right: 16px;
}