mixin draft-card
  article.draft-card
    p.draft-card__date Дата
    a.draft-card__title(href="##") Название
    //p.draft-card__date 14 октября 2022 г., 13:09
    //a.draft-card__title(href="##") Новая цитата из книги «Талия Мирон-Шац. От этого зависит ваша жизнь. Как правильно общаться с врачами и принимать верные решения о здоровье»
    button.draft-card__delete(type="button") Удалить