mixin profile-top(state)
  section.pf-top
    h2.pf-top__title Личный ТОП-10 книг
    if state === 'new-user'
      p.pf-top__description Добавьте 10 и более книг в статусе “Прочитал” для формирования личного ТОП-10.
    else
      .slide-book
        .slide-book__limiter
          ul.slide-book__list
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
            li.slide-book__item
              span.slide-book__status Новинка
              a.slide-book__link(href='#')
                img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
              .slide-book__wrapper
                a.slide-book__title(href='#') Четвертый ледниковый период
                .slide-book__menu
                  .slide-book__menu-block
                    a(href='#') Поделиться
                a.slide-book__author(href='#') Кобо Абе
                .slide-book__rating 3,9
                #source-buy-btn.btn-buy-holder
                  a.slide-book__buy(href='#') Купить
                a.btn-add-plus.btn-add-plus--add(href)
