mixin events-card
  article.events-card
    .header-card
      a.header-card-user(href="##")
        img.header-card-user__avatar(src="/images/avatar-136.png" width="100%" height="100%")
      a.header-card-user__name(href="##")
        span JewelJul
      a.header-card__category(href="##") в афишу
      .header-card__menu
        .header-card__menu-block
          a(href="##") Пожаловаться
    .lenta-card
      .lenta-card-book
        
        a.lenta-card-book__link(href="##")
          .lenta-card__picture-wrapper
            img.lenta-card__picture(src="/images/profile-events.png" width="100%" height="100%")
          .lenta-card-date
            span.lenta-card-date__day 16
            span.lenta-card-date__month июля
            span.lenta-card-date__time 19:15
          
      .lenta-card__details
        p.lenta-card__location Москва
        p.lenta-card__aliases Встречи с авторами
      h3.lenta-card__title
        span.lenta-card__date-event 16 июля
        |
        a(href="##") Слова и музыка Дэвида Кинана: как андеграундный рокер стал известным писателем?
      .lenta-card__text.without-readmore
        div
          p. 
            Дэвид Кинан прошёл путь от музыканта в группе «18 Wheeler», выступавшей, в числе прочего, на разогреве у 
            «Oasis», до ведущего музыкального критика в культовом издании «The Wire» и летописца основных вех 
            британского подполья, таких, как «Coil», «Current 93» и «Nurse With Wound». От музыкального есть такая 
            возможность, ведь в Италии...
        a.read-more__link(href="##") Развернуть
    .footer-card
      .footer-card__soc-active
        a.sab__link.icon-like.no-bold(href="##")
          span 179
        a.sab__link.icon-comment(href="##") 231
        span
          a.sab__link.icon-bookmark(href="##")
            span.count-in-fav 38
      .soc-active-block__wrapper
        a.sab__link.icon-share 38