mixin profile-header(state)
  if state === 'stranger'
    .profile-header
      .profile-header__avatar
        // аватар
        .avatar.avatar_size_136
          img(src='/images/avatar-136.png' alt='Аватар пользователя' width='136' height='136')
      .profile-header__title
        //
      .profile-header__meta
        //
      .profile-header__actions
        //
      .profile-header__counters
        //
      .profile-header__background
    
  