.pf-status__info {
  width: 16px;
  height: 16px;
  align-self: center;
  display: inline-block;
  background-image: url('/images/SVGsprite.svg');
  background-position: 0 -437px;
  background-repeat: no-repeat;
  margin-left: 4px;
  transform: translateY(2px);
} 