mixin books-list
  ul.lists__list
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
    li.book-item__item
      a.book-item__link(href="##")
        img(src="/images/book-cover-1.jpg" width="100%" height="auto")
      .book-item__wrapper
        a.book-item__title(href="##") Четвертый ледниковый период
        .book-item__menu
          .book-item__menu-block
            a(href="##") Поделиться
        a.book-item__author(href="##") Кобо Абэ
        .book-item__rating 8,9
        .btn-buy-holder
          a.edition-card-bottom__buy.btn-book-buy-244067.lenta-btn-buy.btn-book-buy-244067.btn-buy-list.book-item__buy.btn-buy-v2-list.btn-buy-loaded Купить
        .userbook-container.btn-add-plus__wrapper
          a.btn-add-plus.ub-status-wish.btn-add-plus--add
            i
            