// brand
$white: #ffffff;
$blue_2: #217DD1;
$blue_4: #3E99ED;
$gray_25: #3E3F40;
$gray_40: #6F7073;
$gray_55: #88898C;
$gray_84: #D0D2D6;
$gray_84: #D0D2D6;
$gray_88: #D9DBE0;
$gray_90: #DFE1E6;
$gray_95: #EDF0F7;
$dark_main: #252626;
$red: #FA385D;
$yellow_2: #F8DB73;
$dark_25: #3e3f40;
$text: #252626;

// blue
$blue_05: #F5FAFE;
$blue_10: #ECF5FE;
$blue_20: #D8EBFB;
$blue_30: #C6E1FA;
$blue_40: #B2D6F8;
$blue_50: #9FCCF6;
$blue_60: #8BC2F4;
$blue_70: #78B8F3;
$blue_80: #65ADF1;
$blue_90: #52A4EF;
$blue_100: #3E99ED;

// yellow
$yellow_05: #FEFBF6;
$yellow_10: #FFF9EE;
$yellow_20: #FDF1DC;
$yellow_30: #FDEBCA;
$yellow_40: #FCE4B8;
$yellow_50: #FBDDA7;
$yellow_60: #FAD695;
$yellow_70: #FAD084;
$yellow_80: #F9C971;
$yellow_90: #F8C260;
$yellow_100: #F7BB4E;

// red
$red_05: #FEF5F7;
$red_10: #FFECEF;
$red_20: #FED7DF;
$red_30: #FEC4CF;
$red_40: #FDAFBE;
$red_50: #FD9CAE;
$red_60: #FC889E;
$red_70: #FC748E;
$red_80: #FB607D;
$red_90: #FB4C6E;
$red_100: #FA385D;

// purple
$purple_05: #F8F6FB;
$purple_10: #F1EFF8;
$purple_20: #E3DDF1;
$purple_30: #D5CDEA;
$purple_40: #C6BCE2;
$purple_50: #B8ABDB;
$purple_60: #AA9AD4;
$purple_70: #9C8ACD;
$purple_80: #8D79C5;
$purple_90: #8068BF;
$purple_100: #7157B7;
