extends /pages/layout

block variables
  - const pageTitle = 'Профиль/Созданное/Неформат/Свои (есть контент)'

block content
  main.page-content
    section.header
      // TODO: Шапка профиля
      +profile-menu
    +tabs([
      'Подборки',
      'Цитаты',
      'Истории',
      'Лайфхаки',
      'Неформат',
      'Черновики'
    ], 4)
    section.neformat-list
      +lifehack-card
      +histories-card
      +quote-card
      +review-card
      +selection-card
    +pagination