@forward 'src/scss/main';
@use 'src/components/profile-menu/style' as *;
@use 'src/components/tabs/style' as *;
@use 'src/components/profile-tools/style' as *;
@use 'src/components/lifehack-card/style' as *;
@use 'src/components/histories-card/style' as *;
@use 'src/components/quote-card/style' as *;
@use 'src/components/review-card/style' as *;
@use 'src/components/selection-card/style' as *;
@use 'src/components/pagination/style' as *;

.page-content .header {
  margin-bottom: 16px;
  padding: 0;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 999;
}

.tabs {
  margin-top: 10px;
}

.neformat-list {
  margin: 16px 16px 38px;
}

.neformat-list article:not(:first-child) {
  margin-top: 44px;
}